@font-face {
  font-family: "Roboto Regular";
  src: url(assets/fonts/roboto.regular.ttf);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(assets/fonts/roboto.bold.ttf);
}
@font-face {
  font-family: "Roboto Medium";
  src: url(assets/fonts/roboto.medium.ttf);
}
@font-face {
  font-family: "Catamaran EB";
  src: url(assets/fonts/catamaran.extrabold.ttf);
}
.heading-h1 {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-family: "Catamaran EB";
}

.heading-h2 {
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  font-family: "Catamaran EB";
}

.paragraph-p1 {
  font-size: 14px;
  line-height: 62px;
  color: #ffffff;
  font-family: "Roboto Bold";
}

.paragraph-p2 {
  font-size: 12px;
  line-height: 62px;
  color: #505050;
  font-family: "Roboto Bold";
}

.paragraph-p3 {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Roboto Bold";
}

.paragraph-p4 {
  font-size: 12px;
  line-height: 45px;
  color: #505050;
  font-family: "Roboto Regular";
}

.paragraph-p5 {
  font-size: 15px;
  line-height: 45px;
  color: #000000;
  font-family: "Roboto Regular";
}

.contact-us-section {
  background: linear-gradient(180deg, #15141b 63%, #ffffff 40%);
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .contact-us-section {
    background: linear-gradient(180deg, #15141b 75%, #ffffff 40%);
    position: relative;
  }
}
.contact-us-section .main-title {
  padding-top: 40px;
}
@media (min-width: 768px) {
  .contact-us-section .main-title {
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .main-title {
    padding-top: 130px;
  }
}
.contact-us-section .main-title h1 {
  color: #ffffff;
}
@media (min-width: 768px) {
  .contact-us-section .main-title h1 {
    font-size: 32px;
    line-height: 62px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .main-title h1 {
    font-size: 52px;
    line-height: 62px;
  }
}
.contact-us-section .text-wrapper {
  width: 100%;
  height: 62px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .contact-us-section .text-wrapper {
    width: 439px;
    height: 62px;
    margin-top: 30px;
  }
}
.contact-us-section .text-wrapper .input-text {
  width: 100%;
  height: auto;
  padding: 0 0 0 10px;
  border: 1px solid #ffffff;
  background: #15141b;
}
.contact-us-section .text-wrapper .input-text::placeholder {
  color: #ffffff;
}
.contact-us-section .text-wrapper .box {
  border: 1px solid #ffffff;
  position: relative;
}
.contact-us-section .text-wrapper .box::before {
  content: ">";
  transform: rotate(90deg);
  position: absolute;
  top: 15px;
  right: 24px;
  color: #ffffff;
  pointer-events: none;
}
.contact-us-section .text-wrapper .box .budget-text {
  margin: 0;
  position: absolute;
  top: -18px;
  left: 6px;
  color: #ffffff;
  font-family: "Roboto Regular";
}
.contact-us-section .text-wrapper .box select {
  color: #ffffff;
  width: 100%;
  height: 52px;
  padding-top: 20px;
}
.contact-us-section .radio-button-label {
  margin-top: 28px;
}
@media (min-width: 768px) {
  .contact-us-section .radio-button-label {
    margin-top: 38px;
  }
}
.contact-us-section .radio-button-label .radio-wrapper {
  display: flex;
  justify-content: flex-start;
}
.contact-us-section .radio-button-label .radio-wrapper .radio-1 {
  display: flex;
  justify-content: center;
}
.contact-us-section .radio-button-label .radio-wrapper .radio-1:nth-child(2) {
  margin-left: 37px;
}
.contact-us-section .radio-button-label .radio-wrapper .radio-1 .radio-boolean {
  width: 21px;
  height: 21px;
}
.contact-us-section .radio-button-label .radio-wrapper .radio-1 .paragraph-p3 {
  font-family: "Roboto Regular";
  margin-left: 10px;
}
.contact-us-section .detail-text-wrapper {
  margin-top: 30px;
  text-align: left;
}
@media (min-width: 768px) {
  .contact-us-section .detail-text-wrapper {
    max-width: 478px;
  }
}
.contact-us-section .detail-text-wrapper .paragraph-p3 {
  font-family: "Roboto Regular";
  font-size: 15px;
}
.contact-us-section .submit-button {
  background: #ed4e08;
  text-align: center;
  width: 183px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.contact-us-section .submit-button .paragraph-p3 {
  padding: 15px 62px;
}
.contact-us-section .custom-override-image {
  position: unset;
}
.contact-us-section .custom-override-image .image-wrapper {
  width: 100%;
  height: 370px;
  overflow: hidden;
}
.contact-us-section .custom-override-image .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .contact-us-section .custom-override-image .image-wrapper img {
    background-image: url(assets/images/contact_ipad@2x.jpg);
    height: 1200px;
    position: absolute;
    top: 0;
  }
}
.contact-us-section .enquiry-title {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .contact-us-section .enquiry-title {
    margin-top: 0px;
    font-size: 24px;
    line-height: 36px;
    max-width: 424px;
  }
}
.contact-us-section .paragraph-p4 {
  margin-bottom: 0;
}
.contact-us-section .paragraph-p5 {
  margin-bottom: 0;
}
.contact-us-section .address {
  width: 101px;
  line-height: 24px;
}
.contact-us-section .social-links-wrapper img {
  margin-right: 27px;
}
.contact-us-section .social-links-wrapper .fb-icon {
  width: 7px;
  height: 15px;
}
.contact-us-section .social-links-wrapper .tw-icon {
  width: 15px;
  height: 12px;
}
.contact-us-section .social-links-wrapper .li-icon {
  width: 13px;
  height: 13px;
}

.footer-section {
  position: relative;
}

/*# sourceMappingURL=contact-us.css.map */
