@font-face {
  font-family: "Roboto Regular";
  src: url(assets/fonts/roboto.regular.ttf);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(assets/fonts/roboto.bold.ttf);
}
@font-face {
  font-family: "Roboto Medium";
  src: url(assets/fonts/roboto.medium.ttf);
}
@font-face {
  font-family: "Catamaran EB";
  src: url(assets/fonts/catamaran.extrabold.ttf);
}
.heading-h1 {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-family: "Catamaran EB";
}

.heading-h2 {
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  font-family: "Catamaran EB";
}

.paragraph-p1 {
  font-size: 14px;
  line-height: 62px;
  color: #ffffff;
  font-family: "Roboto Bold";
}

.paragraph-p2 {
  font-size: 12px;
  line-height: 62px;
  color: #505050;
  font-family: "Roboto Bold";
}

.paragraph-p3 {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Roboto Bold";
}

.paragraph-p4 {
  font-size: 12px;
  line-height: 45px;
  color: #505050;
  font-family: "Roboto Regular";
}

.paragraph-p5 {
  font-size: 15px;
  line-height: 45px;
  color: #000000;
  font-family: "Roboto Regular";
}

.contact-us-section {
  background: linear-gradient(180deg, #15141b 63%, #ffffff 40%);
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .contact-us-section {
    background: linear-gradient(180deg, #15141b 79%, #ffffff 40%);
    position: relative;
  }
}
@media (min-width: 1200px) {
  .contact-us-section {
    background: linear-gradient(180deg, #15141b 76%, #ffffff 40%);
    position: relative;
  }
}
.contact-us-section .main-title {
  padding-top: 40px;
}
@media (min-width: 768px) {
  .contact-us-section .main-title {
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .main-title {
    padding-top: 130px;
  }
}
.contact-us-section .main-title h1 {
  color: #ffffff;
}
@media (min-width: 768px) {
  .contact-us-section .main-title h1 {
    font-size: 32px;
    line-height: 62px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .main-title h1 {
    font-size: 52px;
    line-height: 62px;
    max-width: 500px;
  }
}
.contact-us-section .form-textarea {
  border: 1px solid #585858;
  width: 100%;
  background: #15141b;
  padding-left: 10px;
  position: relative;
  font-family: "Roboto Bold";
  font-size: 14px;
  color: #ffffff;
  padding-top: 20px;
  resize: none;
}
.contact-us-section .form-textarea::placeholder {
  color: #bababa;
}
@media (min-width: 768px) {
  .contact-us-section .form-textarea {
    padding-left: 20px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .form-textarea {
    padding-left: 30px;
  }
}
.contact-us-section .text-wrapper {
  width: 100%;
  height: 62px;
  margin-top: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .contact-us-section .text-wrapper {
    width: 439px;
    height: 62px;
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .text-wrapper {
    width: 100%;
  }
}
.contact-us-section .text-wrapper .input-text {
  width: 100%;
  height: auto;
  padding: 0 0 0 10px;
  border: 1px solid #585858;
  background: #15141b;
}
.contact-us-section .text-wrapper .input-text::placeholder {
  color: #bababa;
}
@media (min-width: 768px) {
  .contact-us-section .text-wrapper .input-text {
    padding: 0 0 0 20px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .text-wrapper .input-text {
    padding: 0 0 0 30px;
  }
}
.contact-us-section .text-wrapper .box {
  border-radius: 0;
  position: relative;
}
@media (min-width: 1200px) {
  .contact-us-section .text-wrapper .box {
    /* This is to remove the arrow of select element in IE */
  }
  .contact-us-section .text-wrapper .box .ui-select {
    width: 100%;
  }
  .contact-us-section .text-wrapper .box select::-ms-expand {
    display: none;
  }
  .contact-us-section .text-wrapper .box select {
    -webkit-appearance: none;
    appearance: none;
  }
  @-moz-document url-prefix() {
    .contact-us-section .text-wrapper .box .ui-select {
      border: 1px solid #CCC;
      border-radius: 4px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
    }
    .contact-us-section .text-wrapper .box .ui-select select {
      width: 110%;
      background-position: right 30px center !important;
      border: none !important;
    }
  }
}
.contact-us-section .text-wrapper .box::before {
  content: ">";
  transform: rotate(90deg);
  position: absolute;
  top: 18px;
  right: 24px;
  color: #ffffff;
  pointer-events: none;
}
.contact-us-section .text-wrapper .box .budget-text {
  margin: 0;
  position: absolute;
  top: -11px;
  left: 10px;
  color: #bababa;
  font-family: "Roboto Regular";
}
@media (min-width: 768px) {
  .contact-us-section .text-wrapper .box .budget-text {
    left: 20px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .text-wrapper .box .budget-text {
    left: 30px;
    top: -14px;
  }
}
.contact-us-section .text-wrapper .box select {
  color: #bababa;
  width: 100%;
  padding: 27px 0 10px 5px;
  background-color: #15141b;
  border-radius: 0;
  border-color: #585858;
}
@media (min-width: 768px) {
  .contact-us-section .text-wrapper .box select {
    padding: 27px 0 15px 15px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .text-wrapper .box select {
    padding: 6px 0px 0 29px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .text-wrapper .box .paragraph-p1 {
    line-height: 54px;
  }
}
.contact-us-section .radio-button-label {
  margin-top: 29px;
}
@media (min-width: 768px) {
  .contact-us-section .radio-button-label {
    margin-top: 29px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .radio-button-label .paragraph-p3 {
    font-size: 20px;
  }
}
.contact-us-section .radio-button-label .radio-wrapper {
  display: flex;
  justify-content: flex-start;
}
.contact-us-section .radio-button-label .radio-wrapper input[type=radio]:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: 1px;
  left: 0px;
  position: relative;
  background-color: #000000;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 4px solid white;
}
.contact-us-section .radio-button-label .radio-wrapper input[type=radio]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: 1px;
  left: 0px;
  position: relative;
  background: radial-gradient(white 35%, black 6%);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 4px solid #ffffff;
}
.contact-us-section .radio-button-label .radio-wrapper .radio-1 {
  display: flex;
  justify-content: center;
}
.contact-us-section .radio-button-label .radio-wrapper .radio-1:nth-child(2) {
  margin-left: 37px;
}
.contact-us-section .radio-button-label .radio-wrapper .radio-1 .radio-boolean {
  width: 21px;
  height: 21px;
}
.contact-us-section .radio-button-label .radio-wrapper .radio-1 .paragraph-p3 {
  font-family: "Roboto Regular";
  margin-left: 10px;
}
@media (min-width: 1200px) {
  .contact-us-section .radio-button-label .radio-wrapper .radio-1 .paragraph-p3 {
    font-size: 20px;
  }
}
.contact-us-section .detail-text-wrapper {
  margin-top: 30px;
  text-align: left;
}
@media (min-width: 768px) {
  .contact-us-section .detail-text-wrapper {
    max-width: 478px;
  }
}
.contact-us-section .detail-text-wrapper .paragraph-p3 {
  font-family: "Roboto Regular";
  font-size: 15px;
}
@media (min-width: 1200px) {
  .contact-us-section .detail-text-wrapper .paragraph-p3 {
    font-size: 16px;
  }
}
.contact-us-section .submit-button {
  background: #ed4e08;
  text-align: center;
  width: 183px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.contact-us-section .submit-button input {
  background: #ed4e08;
  border: none;
}
@media (min-width: 1200px) {
  .contact-us-section .submit-button {
    margin-bottom: 200px;
  }
}
.contact-us-section .submit-button .paragraph-p3 {
  padding: 15px 62px;
}
.contact-us-section .custom-override-image {
  position: unset;
}
.contact-us-section .custom-override-image .image-wrapper {
  width: 100%;
  height: 370px;
  overflow: hidden;
}
.contact-us-section .custom-override-image .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .contact-us-section .custom-override-image .image-wrapper img {
    background-image: url(assets/images/contact_ipad@2x.jpg);
    height: 1200px;
    position: absolute;
    top: 0;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .custom-override-image .image-wrapper img {
    background-image: url(assets/images/contact-us-desktop@2x.jpg);
    height: 1522px;
  }
}
.contact-us-section .enquiry-title {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .contact-us-section .enquiry-title {
    margin-top: 64px;
    font-size: 24px;
    line-height: 36px;
    max-width: 424px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .enquiry-title {
    margin-top: 0px;
    font-size: 32px;
    line-height: 45px;
  }
}
.contact-us-section .paragraph-p4 {
  margin-bottom: 0;
  line-height: 20px;
}
@media (min-width: 1200px) {
  .contact-us-section .paragraph-p4 {
    font-size: 16px;
    line-height: 45px;
  }
}
.contact-us-section .paragraph-p5 {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .contact-us-section .paragraph-p5 {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .address-title {
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .contact-us-section .follow-title {
    margin-top: 40px;
  }
}
.contact-us-section .address {
  width: 142px;
  line-height: 24px;
}
@media (min-width: 1200px) {
  .contact-us-section .address {
    width: 189px;
    line-height: 30px;
  }
}
.contact-us-section .social-links-wrapper img {
  margin-right: 27px;
}
.contact-us-section .social-links-wrapper .fb-icon {
  width: 7px;
  height: 15px;
}
.contact-us-section .social-links-wrapper .tw-icon {
  width: 15px;
  height: 12px;
}
.contact-us-section .social-links-wrapper .li-icon {
  width: 13px;
  height: 13px;
}

.parsley-errors-list {
  color: #ed4e08;
  margin-bottom: 8px;
  position: absolute;
  bottom: -32px;
  list-style: none !important;
  padding: 0;
  left: 10px;
}
@media (min-width: 768px) {
  .parsley-errors-list {
    left: 20px;
  }
}
@media (min-width: 1200px) {
  .parsley-errors-list {
    left: 30px;
  }
}
.parsley-errors-list .parsley-required {
  font-weight: 500;
  font-size: 12px !important;
}

/*# sourceMappingURL=contact-us.css.map */
