@font-face {
    font-family: "Roboto Regular";
    src: url(assets/fonts/roboto.regular.ttf);
}
@font-face {
    font-family: "Roboto Bold";
    src: url(assets/fonts/roboto.bold.ttf);
}
@font-face {
    font-family: "Roboto Medium";
    src: url(assets/fonts/roboto.medium.ttf);
}
@font-face {
    font-family: "Catamaran EB";
    src: url(assets/fonts/catamaran.extrabold.ttf);
}
body {
    p {
        margin: 0;
    }
    h1 {
        margin: 0;
    }
}
.before-selector-left {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        transform: translateY(-50%);
        background-color: #ED4E08;
        top: 50%;
        left: 0;
    }
}
.before-selector-bottom {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 40%;
        height: 2px;
        transform: translateY(-50%);
        background-color: #000000;
        top: 80%;
        left: 0;
    }
}
.heading-h1 {
    font-family: "Catamaran EB";
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.paragraph-p1 {
    font-family: "Roboto Regular";
    font-size: 12px;
    line-height: 28px;
    color: #ED4E08;
}
.paragraph-p2 {
    font-family: "Roboto Regular";
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.main-section {
    header {
        padding-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .company{
            width: 143px;
            height: 36px;
            img {
                width: 100%;
                height: 100%;
            }
            @media (min-width: 1200px) {
                width: 238px;
                height: 58px;
            }
        }
        .menu {
            display: none;
            @media (min-width: 1200px) {
                display: flex;
                &__list {
                    padding-left: 58px;
                    padding-top: 17px;
                    color: #000000;
                    font-family: 'Roboto', sans-serif;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 28px;
                    position: relative;
                }
                .plus-sign {
                    color: #D19900;
                }
                .work-with-us {
                    background: #ED4E08 0% 0% no-repeat padding-box;
                    border-radius: 5px;
                    margin-left: 52px;
                    padding: 17px 47px;
                    color: #fff;
                }
            }
        }
        @media (min-width: 768px) {
            padding-top: 30px;
        }
        @media (min-width: 1200px) {
            padding-top: 52px;
            .hamburger-menu-image {
                display: none;
            }
        }
    }
    .header-text-wrapper {
        margin-top: 42px;
        text-align: center;
        .header-text-subtitle {
            display: none;
        }
    }
}

.banner-section {
    background: linear-gradient(0deg, #000000 50%, #fff 50%);
    margin-top: 45px;
    .banner-image {
        width: 100%;
        height: 163px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

.what-we-do-section {
    background: #000000;
    padding-bottom: 50px;
    .what-we-do-wrapper {
        padding-top: 50px;
        text-align: center;
        .what-we-do-label {

        }
        .what-we-do-title {
            margin-top: 2px;
            .heading-h1 {
                color: #ffffff;
            }
        }
        .what-we-do-subtitle {
            margin-top: 10px;
            .paragraph-p2 {
                color: #ffffff;
            }
        }
    }
}

.stats-area-section {
    background-color: #f8f8f8;
    .stats-area-text {
        text-align: center;
        margin-bottom: 30px;
    }
    .stats-area {
         .stats-card {
             max-width: 136px;
             height: 128px;
             border-radius: 10px;
             background-color: #ffffff;
             display: flex;
             flex-direction: column;
             padding-top: 25px;
             margin-bottom: 10px;
             margin-left: auto;
             margin-right: auto;
             .stats {
                 margin: 0 auto;
                 .stats-figures {
                    color: #ed4e08;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 33px;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        border: 1px solid #9f9f9f;
                        top: 45px;
                        left: 0;
                        width: 18px;
                        height: 1px;
                    }
                }
                .stats-text {
                    padding-top: 25px;
                    color: #625c5c;
                    font-family: "Roboto Regular";
                    font-size: 10px;
                    font-weight: 700;
                    line-height: 12px;
                    max-width: 106px;
                }
             }
         }
     }
     @media (min-width: 768px) {
        .stats-area {
            background-color: #f8f8f8;
            padding-top: 220px;
            padding-bottom: 60px;
            margin-top: -200px;
            z-index: -1;
             .stats-card {
                 max-width: 164px;
                 height: 158px;
                 border-radius: 10px;
                 background-color: #ffffff;
                 display: flex;
                 flex-direction: column;
                 padding-top: 29px;
                 .stats {
                     margin: 0 auto;
                    .stats-figures {
                        color: #ed4e08;
                        font-size: 35px;
                        font-weight: 400;
                        line-height: 35px;
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            border: 1px solid #9f9f9f;
                            top: 46px;
                            left: 0;
                            width: 20px;
                            height: 1px;
                        }
                    }
                    .stats-text {
                        color: #625c5c;
                        font-family: "Roboto Regular";
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 18px;
                        max-width: 127px;
                        padding-top: 24px;
                    }
                 }
             }
         }
     }
     @media (min-width: 1200px) {
        .stats-area {
            background-color: #f8f8f8;
            padding-top: 255px;
            padding-bottom: 60px;
            margin-top: -328px;
             .stats-card {
                 max-width: 326px;
                 height: 306px;
                 border-radius: 10px;
                 background-color: #ffffff;
                 display: flex;
                 flex-direction: column;
                 /* justify-content: space-around;
                 align-items: center; */
                 padding-top: 62px;
                 margin: 0;
                 .stats {
                     margin: 0 auto;
                     .stats-figures {
                         color: #ed4e08;
                         font-size: 69px;
                         font-weight: 400;
                         line-height: 78px;
                         position: relative;
                         &::after {
                             content: '';
                             border: 1px solid #9f9f9f;
                             position: absolute;
                             left: 0;
                             width: 42px;
                             height: 2px;
                             top: 103px;
                         }
                     }
                     .stats-text {
                         padding-top: 55px;
                         color: #625c5c;
                         font-family: "Roboto Regular";
                         font-size: 18px;
                         font-weight: 700;
                         line-height: 26px;
                         max-width: 190px;
                     }
                 }
             }
         }
     }
}

.our-clients-section {
    background-color: #f8f8f8;
    .our-clients-text-wrapper {
        text-align: center;
        padding-top: 50px;
        .our-clients-label {

        }
        .our-clients-title {

        }
    }
    .parent-wrapper {
        background: linear-gradient(#000000 100%, #fff);
        margin-top: 30px;
        .our-clients-image-wrapper {
            width: 100%;
            height: 100%;
            padding-top: 51px;
            padding-bottom: 57px;
            .partners-mobile {
                width: 100%;
            }
            .partners-desktop {
                display: none;
            }
        }
    }
}

.testimonial-section {
    background: #f8f8f8;
    .slick-slider, .slick-list, .slick-track {
        height: 100%;
      }
      .slick-slider {
          overflow: hidden;
          button {
              cursor: pointer;
          }
          .slick-track {
              .slick-slide {
                  img {
                      width: 100%;
                      height: 100%; 
                      object-fit: cover;
                  }
              }
          }
      }
      
      .slick-arrow,
      .slick-dots {
          position: absolute;
          z-index: 15;
      }
      
      .slick-arrow {
      
          top: 50%;
          &.slick-prev {
              left: 0;
          }
          &.slick-next {
              right: 0;
          }
      }
      
      .slick-dots { 
          width: 100%;
          bottom: 5% !important;
          left: 0;
          text-align: center;
          button {
            display: block;
            width: 24px !important;
            height: 2px !important;
            padding: 0 !important;
            border-radius: 7px !important;
            background-color: #CBCBCB !important;
            text-indent: -9999px;
            margin-right: 10px;
            outline: none;
          }
      }
    
      .slick-dots {
          .slick-active {
              button {
                  background-color: #ED4E08 !important;
              }
          }
      }
    .testimonial-wrapper {
        margin-top: 50px;
        padding-bottom: 103px;
        .testimonial-image {
            width: 86px;
            height: auto;
            margin: 0 auto;
            border: 1px solid #ED4E08;
            border-radius: 50%;
            padding: 4px;
            img {
                width: 100%;
            }
        }
        .testimonial-text {
            text-align: center;
            margin-top: 10px;
            .heading-h1 {
                font-size: 18px;
                line-height: 27px;
                font-family: "Roboto Bold";
            }
        }
        .testimonial-designation {
            text-align: center;
            margin-top: 40px;
            .paragraph-p2 {
                font-size: 14px;
                color: #9f9f9f;
            }
        }
    }
}

.our-process-section {
    .process-wrapper {
        margin-top: 50px;
        text-align: center;
        .process-label {

        }
        .process-title {
            margin-top: 2px;
        }
        .process-subtitle {
            margin-top: 10px;
        }
    }
    .process-text-wrapper {
        .process-title  {
            h1 {
                font-family: "Roboto Bold";
                font-size: 18px;
                line-height: 62px;
                padding-left: 40px;
            }
        }
        .process-text {
            p {
                font-family: "Roboto Regular";
                font-size: 14px;
                line-height: 21px;
            }
        }
        .process-detail {
            p {
                font-family: "Roboto Bold";
                font-size: 14px;
                line-height: 62px;
            }
        }
    }
    .process-image {
        width: 100%;
        height: 100%;
        margin-top: 50px;
        img {
            width: 100%;
            
        }
    }
}

.final-section {
    footer {
        background-color: #000000;
        position: relative;
        .footer-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .shoptrade-image-wrapper {
                width: 63px;
                height: 63px;
                transform: translateY(-21px);
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            .shopify-plus-wrapper {
                width: 73px;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
        .custom-class {
            padding-top: 35px;
            a {
                display: inline-block;
                margin-top: 40px;
            }
            .card-link-custom {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .header-title {
                color: #ffffff;
                font-family: "Roboto Regular";
                font-size: 24px;
                font-weight: 700;
                line-height: 28px;
                position: relative;
                // margin-top: 40px;
            }
            .address {
                margin-top: 0;
            }
            .follow-us {
                margin-top: 40px;
            }
            .newsletter-label {
                max-width: 223px;
                margin-top: 40px;
            }
            .header-collection {
                margin-top: 13px;
                color: #ffffff;
                font-family: 'Roboto',sans-serif;
                font-size: 14px;
                font-weight: 50;
                line-height: 28px;
                p {
                    margin: 0px;
                }
                a {
                    color: #ffffff;
                    margin: 0;
                }
            }
            .newsletter {
                border-radius: 5px;
                background-color: #2e2e2e;
                padding: 17px 24px;
                text-align: left;
                font-size: 14px;
                font-family: "Roboto Regular";
                line-height: 28px;
                color: #a698ff;
                img {
                    margin-left: 20px;
                }
            }
        }
        .base-footer-wrapper {
            margin-top: 23px;
            //padding-bottom: 64px;
            .copyrights {
                opacity: 0.5;
                color: #ffffff;
                font-family: "Roboto", sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 28px;
            }
            .base-shopify-images {
                display: none;
            }
        }
    }

    @media (min-width: 768px) {
        footer {
            background-color: #000000;
            position: relative;
            .footer-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .shoptrade-image-wrapper {
                    width: 94px;
                    height: 94px;
                    transform: translateY(-21px);
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
                .shopify-plus-wrapper {
                    width: 73px;
                    height: auto;
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
            .custom-class {
                padding-top: 50px;
                a {
                    display: inline-block;
                    margin-top: 0px;
                }
                .header-title {
                    color: #ffffff;
                    font-family: "Roboto Regular";
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 28px;
                }
                .newsletter-label {
                    max-width: 223px;
                    margin-top: 0;
                }
                .footer-collapse-arrow {
                    display: none;
                }
                .follow-us {
                    margin-top: 0px;
                }
                .collapse-image {
                    display: none;
                }
                .header-collection {
                    margin-top: 13px;
                    color: #ffffff;
                    font-family: 'Roboto',sans-serif;
                    font-size: 14px;
                    font-weight: 50;
                    line-height: 28px;
                    margin-bottom: 40px;
                    p {
                        margin: 0px;
                    }
                }
                .newsletter {
                    border-radius: 5px;
                    background-color: #2e2e2e;
                    padding: 17px 24px;
                    text-align: left;
                    font-size: 14px;
                    font-family: "Roboto Regular";
                    line-height: 28px;
                    color: #a698ff;
                    margin-bottom: 0;
                    img {
                        margin-left: 80px;
                    }
                }
            }
            .base-footer-wrapper {
                margin-top: 2px;
                //padding-bottom: 64px;
                .copyrights {
                    opacity: 0.5;
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 28px;
                }
                .base-shopify-images {
                    position: relative;
                    display: none;
                }
            }
        }
    }

    @media (min-width: 1200px) {
        footer {
            background-color: #000000;
            position: relative;
            .footer-wrapper {
                display: inline-block;
                .shoptrade-image-wrapper {
                    width: 99px;
                    height: 99px;
                    transform: translateY(-21px);
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
                .shopify-plus-wrapper {
                    display: none;
                }
            }
            .custom-class{
                padding-top: 54px;
                margin-left: 0px;
                .overwrite-col {
                    padding: 0;
                }
                .header-title {
                    color: #ffffff;
                    font-family: "Roboto Regular";
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 28px;
                }
                .header-collection {
                    margin-top: 13px;
                    color: #ffffff;
                    font-family: 'Roboto',sans-serif;
                    font-size: 18px;
                    font-weight: 50;
                    line-height: 28px;
                    p {
                        margin: 0px;
                    }
                }
                .newsletter {
                    border-radius: 5px;
                    background-color: #2e2e2e;
                    padding: 17px 24px;
                    text-align: left;
                    font-size: 14px;
                    font-family: "Roboto Regular";
                    line-height: 28px;
                    color: #a698ff;
                    img {
                        margin-left: 57px;
                    }
                }
            }
            .base-footer-wrapper {
                margin-top: 89px;
                padding-bottom: 64px;
                .copyrights {
                    position: relative;
                    top: 0;
                    opacity: 0.5;
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    margin-left: 0px;
                }
                .base-shopify-images {
                    position: relative;
                    display: inline;
                    .footer-shopify-1 {
                        max-width: 100px;
                        height: 21px;
                    }
                    
                    .footer-shopify-2 {
                        max-width: 100px;
                        height: 21px;
                        display: block;
                        margin-left: 40px;
                    }
                }
            }
        }
    }
  
}