@font-face {
  font-family: "Roboto Regular";
  src: url(assets/fonts/roboto.regular.ttf);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(assets/fonts/roboto.bold.ttf);
}
@font-face {
  font-family: "Roboto Medium";
  src: url(assets/fonts/roboto.medium.ttf);
}
@font-face {
  font-family: "Catamaran EB";
  src: url(assets/fonts/catamaran.extrabold.ttf);
}
body p {
  margin: 0;
}
body h1 {
  margin: 0;
}

.before-selector-left {
  position: relative;
}
.before-selector-left:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  transform: translateY(-50%);
  background-color: #ED4E08;
  top: 50%;
  left: 0;
}

.before-selector-bottom {
  position: relative;
}
.before-selector-bottom:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  transform: translateY(-50%);
  background-color: #000000;
  top: 80%;
  left: 0;
}
@media (min-width: 1200px) {
  .before-selector-bottom:before {
    width: 20%;
  }
}

.heading-h1 {
  font-family: "Catamaran EB";
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.paragraph-p1 {
  font-family: "Roboto Regular";
  font-size: 12px;
  line-height: 28px;
  color: #ED4E08;
}

.paragraph-p2 {
  font-family: "Roboto Regular";
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.paragraph-p3 {
  font-family: "Roboto Regular";
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.main-section header {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-section header .company {
  width: 143px;
  height: 36px;
}
.main-section header .company img {
  width: 100%;
  height: 100%;
}
@media (min-width: 1200px) {
  .main-section header .company {
    width: 238px;
    height: 58px;
  }
}
.main-section header .menu {
  display: none;
}
@media (min-width: 1200px) {
  .main-section header .menu {
    display: flex;
  }
  .main-section header .menu__list {
    padding-left: 58px;
    padding-top: 17px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
  }
  .main-section header .menu .plus-sign {
    color: #D19900;
  }
  .main-section header .menu .work-with-us {
    background: #ED4E08 0% 0% no-repeat padding-box;
    border-radius: 5px;
    margin-left: 52px;
    padding: 17px 47px;
    color: #fff;
  }
}
@media (min-width: 768px) {
  .main-section header {
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .main-section header {
    padding-top: 52px;
  }
  .main-section header .hamburger-menu-image {
    display: none;
  }
}
.main-section .header-text-wrapper {
  margin-top: 42px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-section .header-text-wrapper {
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .main-section .header-text-wrapper {
    margin-top: 100px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .main-section .header-text-wrapper .header-text-label .paragraph-p1 {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 1200px) {
  .main-section .header-text-wrapper .header-text-title .heading-h1 {
    font-size: 52px;
    line-height: 62px;
  }
}
.main-section .header-text-wrapper .header-text-subtitle {
  display: none;
}
@media (min-width: 768px) {
  .main-section .header-text-wrapper .header-text-subtitle {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .main-section .header-text-wrapper .header-text-subtitle {
    margin-top: 20px;
  }
  .main-section .header-text-wrapper .header-text-subtitle .paragraph-p2 {
    font-size: 20px;
    line-height: 30px;
  }
}

.banner-section {
  background: linear-gradient(0deg, #000000 50%, #fff 50%);
  margin-top: 45px;
}
@media (min-width: 768px) {
  .banner-section {
    margin-top: 60px;
    overflow-x: hidden;
    background: linear-gradient(0deg, #000000 74%, #fff 50%);
  }
}
.banner-section .banner-image {
  width: 100%;
  height: 163px;
}
@media (min-width: 768px) {
  .banner-section .banner-image {
    width: 100%;
    height: auto;
    margin-left: 54px;
  }
}
@media (min-width: 1200px) {
  .banner-section .banner-image {
    width: 100vw;
    margin-left: 0;
  }
}
.banner-section .banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.what-we-do-section {
  background: #000000;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .what-we-do-section {
    padding-bottom: 100px;
  }
}
.what-we-do-section .what-we-do-wrapper {
  padding-top: 50px;
  text-align: center;
}
@media (min-width: 1200px) {
  .what-we-do-section .what-we-do-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .what-we-do-section .what-we-do-wrapper .what-we-do-label .paragraph-p1 {
    font-size: 18px;
    line-height: 28px;
  }
}
.what-we-do-section .what-we-do-wrapper .what-we-do-title {
  margin-top: 2px;
}
.what-we-do-section .what-we-do-wrapper .what-we-do-title .heading-h1 {
  color: #ffffff;
}
@media (min-width: 1200px) {
  .what-we-do-section .what-we-do-wrapper .what-we-do-title .heading-h1 {
    font-size: 52px;
    line-height: 62px;
    max-width: 644px;
    margin: 0 auto;
  }
}
.what-we-do-section .what-we-do-wrapper .what-we-do-subtitle {
  margin-top: 10px;
}
.what-we-do-section .what-we-do-wrapper .what-we-do-subtitle .paragraph-p2 {
  color: #ffffff;
}
@media (min-width: 768px) {
  .what-we-do-section .what-we-do-wrapper .what-we-do-subtitle .paragraph-p2 {
    font-size: 15px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .what-we-do-section .what-we-do-wrapper .what-we-do-subtitle .paragraph-p2 {
    font-size: 20px;
    line-height: 30px;
    max-width: 1135px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

.method-section {
  background: #ffffff;
}
.method-section .slick-slider, .method-section .slick-list, .method-section .slick-track {
  height: 100%;
}
.method-section .slick-slider {
  overflow: hidden;
}
.method-section .slick-slider button {
  cursor: pointer;
}
.method-section .slick-slider .slick-track .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.method-section .slick-arrow,
.method-section .slick-dots {
  position: absolute;
  z-index: 15;
}
.method-section .slick-arrow {
  top: 50%;
}
.method-section .slick-arrow.slick-prev {
  left: 0;
}
.method-section .slick-arrow.slick-next {
  right: 0;
}
.method-section .slick-dots {
  width: 100%;
  bottom: 5% !important;
  left: 0;
  text-align: center;
}
.method-section .slick-dots button {
  display: block;
  width: 24px !important;
  height: 2px !important;
  padding: 0 !important;
  border-radius: 7px !important;
  background-color: #CBCBCB !important;
  text-indent: -9999px;
  margin-right: 10px;
  outline: none;
}
.method-section .slick-dots .slick-active button {
  background-color: #ED4E08 !important;
}
.method-section .method-wrapper {
  padding-top: 50px;
}
.method-section .method-wrapper .overwrite-col-value {
  position: unset !important;
}
.method-section .method-wrapper .method-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.method-section .method-wrapper .method-icon .lightbulb-icon {
  width: 32px;
  height: 38px;
}
@media (min-width: 768px) {
  .method-section .method-wrapper .method-icon .lightbulb-icon {
    width: 37px;
    height: 44px;
  }
}
.method-section .method-wrapper .method-icon .lightbulb-icon img {
  width: 100%;
  height: 100%;
}
.method-section .method-wrapper .method-icon .drawing-compass-icon {
  width: 22px;
  height: 38px;
}
.method-section .method-wrapper .method-icon .drawing-compass-icon img {
  width: 100%;
  height: 100%;
}
.method-section .method-wrapper .method-icon .code-icon {
  width: 24px;
  height: 18px;
}
.method-section .method-wrapper .method-icon .code-icon img {
  width: 100%;
  height: 100%;
}
.method-section .method-wrapper .method-icon .promotion-icon {
  width: 37px;
  height: 35px;
}
.method-section .method-wrapper .method-icon .promotion-icon img {
  width: 100%;
  height: 100%;
}
.method-section .method-wrapper .method-icon .method-title {
  margin-left: 7px;
  margin-top: 7px;
}
.method-section .method-wrapper .method-icon .method-title .heading-h1 {
  font-size: 18px;
  line-height: 17px;
  font-family: "Roboto Bold";
}
@media (min-width: 768px) {
  .method-section .method-wrapper .method-icon .method-title .heading-h1 {
    font-size: 24px;
    line-height: 34px;
    font-family: "Roboto Bold";
  }
}
.method-section .method-wrapper .method-image-wrapper {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.method-section .method-wrapper .method-image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.method-section .method-wrapper .method-text {
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .method-section .method-wrapper .method-text {
    position: absolute;
    top: 90px;
    max-width: 500px;
  }
}
.method-section .method-wrapper .method-text .paragraph-p3 {
  margin-bottom: 20px;
}

.stats-area-section {
  background: linear-gradient(#ffffff 10%, #f8f8f8);
}
.stats-area-section .stats-area-text {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 50px;
}
@media (min-width: 768px) {
  .stats-area-section .stats-area-text {
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .stats-area-section .stats-area-text .stats-area-label .paragraph-p1 {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 1200px) {
  .stats-area-section .stats-area-text .stats-area-title .heading-h1 {
    font-size: 52px;
    line-height: 62px;
  }
}
.stats-area-section .stats-area .stats-card {
  max-width: 136px;
  height: 128px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .stats-area-section .stats-area .stats-card {
    max-width: 164px;
    height: 158px;
    padding-top: 40px;
  }
}
@media (min-width: 1200px) {
  .stats-area-section .stats-area .stats-card {
    max-width: 327px;
    height: 306px;
    padding-top: 73px;
    margin-right: 19px;
  }
}
.stats-area-section .stats-area .stats-card .stats {
  margin: 0 auto;
}
.stats-area-section .stats-area .stats-card .stats .stats-figures {
  color: #ed4e08;
  font-size: 32px;
  font-weight: 700;
  line-height: 33px;
  position: relative;
}
@media (min-width: 768px) {
  .stats-area-section .stats-area .stats-card .stats .stats-figures {
    font-size: 35px;
    line-height: 35px;
  }
}
@media (min-width: 1200px) {
  .stats-area-section .stats-area .stats-card .stats .stats-figures {
    font-size: 52px;
    line-height: 62px;
  }
}
.stats-area-section .stats-area .stats-card .stats .stats-figures::after {
  content: "";
  position: absolute;
  border: 1px solid #9f9f9f;
  top: 50px;
  left: 0;
  width: 18px;
  height: 1px;
}
@media (min-width: 1200px) {
  .stats-area-section .stats-area .stats-card .stats .stats-figures::after {
    top: 80px;
  }
}
.stats-area-section .stats-area .stats-card .stats .stats-text {
  padding-top: 25px;
  color: #625c5c;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  max-width: 106px;
}
@media (min-width: 768px) {
  .stats-area-section .stats-area .stats-card .stats .stats-text {
    font-size: 12px;
    line-height: 18px;
    font-family: "Roboto Bold";
    max-width: 127px;
  }
}
@media (min-width: 1200px) {
  .stats-area-section .stats-area .stats-card .stats .stats-text {
    font-size: 18px;
    line-height: 28px;
    font-family: "Roboto Bold";
    max-width: 200px;
    padding-top: 50px;
  }
}

.our-clients-section {
  background-color: #f8f8f8;
}
.our-clients-section .our-clients-text-wrapper {
  text-align: center;
  padding-top: 50px;
}
@media (min-width: 768px) {
  .our-clients-section .our-clients-text-wrapper {
    padding-top: 60px;
  }
}
@media (min-width: 768px) {
  .our-clients-section .our-clients-text-wrapper {
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .our-clients-section .our-clients-text-wrapper .our-clients-label .paragraph-p1 {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 1200px) {
  .our-clients-section .our-clients-text-wrapper .our-clients-title .heading-h1 {
    font-size: 52px;
    line-height: 62px;
  }
}
.our-clients-section .parent-wrapper {
  background: linear-gradient(#000000 100%, #fff);
  margin-top: 30px;
}
.our-clients-section .parent-wrapper .our-clients-image-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 51px;
  padding-bottom: 57px;
}
@media (min-width: 768px) {
  .our-clients-section .parent-wrapper .our-clients-image-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .our-clients-section .parent-wrapper .our-clients-image-wrapper {
    padding-top: 102px;
    padding-bottom: 102px;
  }
}
.our-clients-section .parent-wrapper .our-clients-image-wrapper .partners-mobile {
  width: 100%;
}
@media (min-width: 768px) {
  .our-clients-section .parent-wrapper .our-clients-image-wrapper .partners-mobile {
    display: none;
  }
}
.our-clients-section .parent-wrapper .our-clients-image-wrapper .partners-desktop {
  display: none;
}
@media (min-width: 768px) {
  .our-clients-section .parent-wrapper .our-clients-image-wrapper .partners-desktop {
    display: inline-block;
    width: 100%;
  }
}

.testimonial-section {
  background: #f8f8f8;
}
.testimonial-section .slick-slider, .testimonial-section .slick-list, .testimonial-section .slick-track {
  height: 100%;
}
.testimonial-section .slick-slider {
  overflow: hidden;
}
.testimonial-section .slick-slider button {
  cursor: pointer;
}
.testimonial-section .slick-slider .slick-track .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial-section .slick-arrow,
.testimonial-section .slick-dots {
  position: absolute;
  z-index: 15;
}
.testimonial-section .slick-arrow {
  top: 50%;
}
.testimonial-section .slick-arrow.slick-prev {
  left: 0;
}
.testimonial-section .slick-arrow.slick-next {
  right: 0;
}
.testimonial-section .slick-dots {
  width: 100%;
  bottom: 5% !important;
  left: 0;
  text-align: center;
}
.testimonial-section .slick-dots button {
  display: block;
  width: 24px !important;
  height: 2px !important;
  padding: 0 !important;
  border-radius: 7px !important;
  background-color: #CBCBCB !important;
  text-indent: -9999px;
  margin-right: 10px;
  outline: none;
}
.testimonial-section .slick-dots .slick-active button {
  background-color: #ED4E08 !important;
}
.testimonial-section .testimonial-wrapper {
  margin-top: 50px;
  padding-bottom: 103px;
}
@media (min-width: 768px) {
  .testimonial-section .testimonial-wrapper {
    margin-top: 60px;
    padding-bottom: 113px;
  }
}
@media (min-width: 768px) {
  .testimonial-section .testimonial-wrapper {
    margin-top: 148px;
    padding-bottom: 118px;
  }
}
.testimonial-section .testimonial-wrapper .testimonial-image {
  width: 73px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #ED4E08;
  border-radius: 50%;
  padding: 4px;
}
@media (min-width: 768px) {
  .testimonial-section .testimonial-wrapper .testimonial-image {
    width: 94px;
  }
}
@media (min-width: 1200px) {
  .testimonial-section .testimonial-wrapper .testimonial-image {
    width: 114px;
  }
}
.testimonial-section .testimonial-wrapper .testimonial-image img {
  width: 100%;
}
.testimonial-section .testimonial-wrapper .testimonial-text {
  text-align: center;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .testimonial-section .testimonial-wrapper .testimonial-text {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .testimonial-section .testimonial-wrapper .testimonial-text {
    margin-top: 50px;
    max-width: 904px;
    margin-right: auto;
    margin-left: auto;
  }
}
.testimonial-section .testimonial-wrapper .testimonial-text .heading-h1 {
  font-size: 18px;
  line-height: 27px;
  font-family: "Roboto Bold";
}
@media (min-width: 768px) {
  .testimonial-section .testimonial-wrapper .testimonial-text .heading-h1 {
    font-size: 20px;
    line-height: 27px;
  }
}
@media (min-width: 1200px) {
  .testimonial-section .testimonial-wrapper .testimonial-text .heading-h1 {
    font-size: 30px;
    line-height: 45px;
  }
}
.testimonial-section .testimonial-wrapper .testimonial-designation {
  text-align: center;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .testimonial-section .testimonial-wrapper .testimonial-designation {
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .testimonial-section .testimonial-wrapper .testimonial-designation {
    margin-top: 40px;
  }
}
.testimonial-section .testimonial-wrapper .testimonial-designation .paragraph-p2 {
  font-size: 14px;
  color: #9f9f9f;
}
@media (min-width: 768px) {
  .testimonial-section .testimonial-wrapper .testimonial-designation .paragraph-p2 {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .testimonial-section .testimonial-wrapper .testimonial-designation .paragraph-p2 {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .our-process-section .row-wrapper {
    margin-bottom: 78px;
  }
}
.our-process-section .process-wrapper {
  margin-top: 50px;
  text-align: center;
}
@media (min-width: 1200px) {
  .our-process-section .process-wrapper {
    margin-top: 150px;
    margin-bottom: 96px;
  }
}
@media (min-width: 1200px) {
  .our-process-section .process-wrapper .process-label .paragraph-p1 {
    font-size: 18px;
    line-height: 28px;
  }
}
.our-process-section .process-wrapper .process-title {
  margin-top: 2px;
}
@media (min-width: 1200px) {
  .our-process-section .process-wrapper .process-title .heading-h1 {
    font-size: 52px;
    line-height: 62px;
  }
}
.our-process-section .process-wrapper .process-subtitle {
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .our-process-section .process-wrapper .process-subtitle {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .our-process-section .process-wrapper .process-subtitle .paragraph-p2 {
    font-size: 20px;
    line-height: 30px;
  }
}
.our-process-section .process-text-wrapper .process-title h1 {
  font-family: "Roboto Bold";
  font-size: 18px;
  line-height: 62px;
  padding-left: 40px;
}
@media (min-width: 1200px) {
  .our-process-section .process-text-wrapper .process-title h1 {
    font-size: 32px;
    line-height: 62px;
  }
}
@media (min-width: 768px) {
  .our-process-section .process-text-wrapper .process-text {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .our-process-section .process-text-wrapper .process-text {
    margin-top: 20px;
  }
}
.our-process-section .process-text-wrapper .process-text p {
  font-family: "Roboto Regular";
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .our-process-section .process-text-wrapper .process-text p {
    color: #707070;
  }
}
@media (min-width: 1200px) {
  .our-process-section .process-text-wrapper .process-text p {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (min-width: 768px) {
  .our-process-section .process-text-wrapper .process-detail {
    margin-top: 58px;
  }
}
.our-process-section .process-text-wrapper .process-detail p {
  font-family: "Roboto Bold";
  font-size: 14px;
  line-height: 62px;
}
@media (min-width: 1200px) {
  .our-process-section .process-text-wrapper .process-detail p {
    font-size: 16px;
    line-height: 62px;
  }
}
.our-process-section .process-image {
  margin-top: 50px;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .our-process-section .process-image {
    margin-top: 20px;
    width: 100%;
    height: 387px;
  }
}
@media (min-width: 1200px) {
  .our-process-section .process-image {
    height: auto;
  }
}
.our-process-section .process-image img {
  width: 100%;
  height: 100%;
}

.design-section .coo-subarea {
  margin-top: 23px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .design-section .coo-subarea {
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .design-section .coo-subarea {
    margin-bottom: 150px;
  }
}
.design-section .coo-subarea .subarea-wrapper {
  margin-top: 37px;
  margin-bottom: 43px;
}
@media (min-width: 1200px) {
  .design-section .coo-subarea .subarea-wrapper {
    margin-top: 63px;
    margin-bottom: 65px;
  }
}
.design-section .coo-subarea .subarea-wrapper .subarea-subtitle {
  color: #ed4e08;
  font-family: "Roboto Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
@media (min-width: 768px) {
  .design-section .coo-subarea .subarea-wrapper .subarea-subtitle {
    font-size: 15px;
    line-height: 14px;
  }
}
@media (min-width: 1200px) {
  .design-section .coo-subarea .subarea-wrapper {
    font-size: 18px;
    line-height: 28px;
  }
}
.design-section .coo-subarea .subarea-wrapper .subarea-title {
  color: #000000;
  font-family: "Catamaran EB";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
@media (min-width: 768px) {
  .design-section .coo-subarea .subarea-wrapper .subarea-title {
    font-size: 36px;
    line-height: 31px;
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .design-section .coo-subarea .subarea-wrapper .subarea-title {
    font-size: 52px;
    line-height: 62px;
    margin-top: 10px;
  }
}
.design-section .coo-subarea .subarea-wrapper .subarea-button {
  display: flex;
  justify-content: center;
}
.design-section .coo-subarea .subarea-wrapper .subarea-button .subarea-work-with-us {
  background: #ED4E08;
  border-radius: 5px;
  margin-top: 21px;
  padding: 13px 41px;
  color: #ffffff;
  font-family: "Roboto Regular";
  font-size: 10px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
}
@media (min-width: 768px) {
  .design-section .coo-subarea .subarea-wrapper .subarea-button .subarea-work-with-us {
    margin-top: 31px;
    font-size: 15px;
  }
}

.final-section footer {
  background-color: #000000;
  position: relative;
}
.final-section footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.final-section footer .footer-wrapper .shoptrade-image-wrapper {
  width: 63px;
  height: 63px;
  transform: translateY(-21px);
}
.final-section footer .footer-wrapper .shoptrade-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.final-section footer .footer-wrapper .shopify-plus-wrapper {
  width: 73px;
  height: auto;
}
.final-section footer .footer-wrapper .shopify-plus-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.final-section footer .custom-class {
  padding-top: 35px;
}
.final-section footer .custom-class a {
  display: inline-block;
  margin-top: 40px;
}
.final-section footer .custom-class .card-link-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.final-section footer .custom-class .header-title {
  color: #ffffff;
  font-family: "Roboto Regular";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  position: relative;
}
.final-section footer .custom-class .address {
  margin-top: 0;
}
.final-section footer .custom-class .follow-us {
  margin-top: 40px;
}
.final-section footer .custom-class .newsletter-label {
  max-width: 223px;
  margin-top: 40px;
}
.final-section footer .custom-class .header-collection {
  margin-top: 13px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 50;
  line-height: 28px;
}
.final-section footer .custom-class .header-collection p {
  margin: 0px;
}
.final-section footer .custom-class .header-collection a {
  color: #ffffff;
  margin: 0;
}
.final-section footer .custom-class .newsletter {
  border-radius: 5px;
  background-color: #2e2e2e;
  padding: 17px 24px;
  text-align: left;
  font-size: 14px;
  font-family: "Roboto Regular";
  line-height: 28px;
  color: #a698ff;
}
.final-section footer .custom-class .newsletter img {
  margin-left: 20px;
}
.final-section footer .base-footer-wrapper {
  margin-top: 23px;
}
.final-section footer .base-footer-wrapper .copyrights {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}
.final-section footer .base-footer-wrapper .base-shopify-images {
  display: none;
}
@media (min-width: 768px) {
  .final-section footer {
    background-color: #000000;
    position: relative;
  }
  .final-section footer .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .final-section footer .footer-wrapper .shoptrade-image-wrapper {
    width: 94px;
    height: 94px;
    transform: translateY(-21px);
  }
  .final-section footer .footer-wrapper .shoptrade-image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .final-section footer .footer-wrapper .shopify-plus-wrapper {
    width: 73px;
    height: auto;
  }
  .final-section footer .footer-wrapper .shopify-plus-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .final-section footer .custom-class {
    padding-top: 50px;
  }
  .final-section footer .custom-class a {
    display: inline-block;
    margin-top: 0px;
  }
  .final-section footer .custom-class .header-title {
    color: #ffffff;
    font-family: "Roboto Regular";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
  .final-section footer .custom-class .newsletter-label {
    max-width: 223px;
    margin-top: 0;
  }
  .final-section footer .custom-class .footer-collapse-arrow {
    display: none;
  }
  .final-section footer .custom-class .follow-us {
    margin-top: 0px;
  }
  .final-section footer .custom-class .collapse-image {
    display: none;
  }
  .final-section footer .custom-class .header-collection {
    margin-top: 13px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 50;
    line-height: 28px;
    margin-bottom: 40px;
  }
  .final-section footer .custom-class .header-collection p {
    margin: 0px;
  }
  .final-section footer .custom-class .newsletter {
    border-radius: 5px;
    background-color: #2e2e2e;
    padding: 17px 24px;
    text-align: left;
    font-size: 14px;
    font-family: "Roboto Regular";
    line-height: 28px;
    color: #a698ff;
    margin-bottom: 0;
  }
  .final-section footer .custom-class .newsletter img {
    margin-left: 80px;
  }
  .final-section footer .base-footer-wrapper {
    margin-top: 2px;
  }
  .final-section footer .base-footer-wrapper .copyrights {
    opacity: 0.5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
  }
  .final-section footer .base-footer-wrapper .base-shopify-images {
    position: relative;
    display: none;
  }
}
@media (min-width: 1200px) {
  .final-section footer {
    background-color: #000000;
    position: relative;
  }
  .final-section footer .footer-wrapper {
    display: inline-block;
  }
  .final-section footer .footer-wrapper .shoptrade-image-wrapper {
    width: 99px;
    height: 99px;
    transform: translateY(-21px);
  }
  .final-section footer .footer-wrapper .shoptrade-image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .final-section footer .footer-wrapper .shopify-plus-wrapper {
    display: none;
  }
  .final-section footer .custom-class {
    padding-top: 54px;
    margin-left: 0px;
  }
  .final-section footer .custom-class .overwrite-col {
    padding: 0;
  }
  .final-section footer .custom-class .header-title {
    color: #ffffff;
    font-family: "Roboto Regular";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
  .final-section footer .custom-class .header-collection {
    margin-top: 13px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 50;
    line-height: 28px;
  }
  .final-section footer .custom-class .header-collection p {
    margin: 0px;
  }
  .final-section footer .custom-class .newsletter {
    border-radius: 5px;
    background-color: #2e2e2e;
    padding: 17px 24px;
    text-align: left;
    font-size: 14px;
    font-family: "Roboto Regular";
    line-height: 28px;
    color: #a698ff;
  }
  .final-section footer .custom-class .newsletter img {
    margin-left: 57px;
  }
  .final-section footer .base-footer-wrapper {
    margin-top: 89px;
    padding-bottom: 64px;
  }
  .final-section footer .base-footer-wrapper .copyrights {
    position: relative;
    top: 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-left: 0px;
  }
  .final-section footer .base-footer-wrapper .base-shopify-images {
    position: relative;
    display: inline;
  }
  .final-section footer .base-footer-wrapper .base-shopify-images .footer-shopify-1 {
    max-width: 100px;
    height: 21px;
  }
  .final-section footer .base-footer-wrapper .base-shopify-images .footer-shopify-2 {
    max-width: 100px;
    height: 21px;
    display: block;
    margin-left: 40px;
  }
}

/*# sourceMappingURL=services.css.map */
