.main-section {
  background-color: #000000;
}
.main-section header {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-section header .company img {
  width: 143px;
  height: 36px;
}
.main-section header .menu {
  display: none;
}
.main-section .banner-wrapper .banner-image {
  margin-top: 51px;
  max-width: 282px;
  height: 281px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.main-section .banner-wrapper .banner-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main-section .banner-wrapper .banner-text {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .banner-wrapper .banner-text .banner-label {
  color: #ed4e08;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.main-section .banner-wrapper .banner-text .banner-title {
  color: #ffffff;
  font-family: "Catamaran", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.main-section .banner-wrapper .banner-text .banner-subtitle {
  margin-top: 10px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  max-width: 225px;
}
.main-section .banner-wrapper .banner-text .shopify-plus-image {
  margin-top: 38px;
  padding-bottom: 45px;
  position: relative;
}
.main-section .banner-wrapper .banner-text .shopify-plus-image img {
  width: 73px;
  height: 17px;
}
@media (min-width: 768px) {
  .main-section {
    background-color: #000000;
  }
  .main-section header {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-section header .company img {
    width: 143px;
    height: 36px;
  }
  .main-section header .menu {
    display: none;
  }
  .main-section .banner-wrapper {
    margin-top: 78px;
    padding-bottom: 134px;
  }
  .main-section .banner-wrapper .banner-text {
    margin-top: 75px;
    display: block;
  }
  .main-section .banner-wrapper .banner-text .banner-label {
    font-size: 15px;
    line-height: 28px;
    color: #ED4E08;
    font-family: "Roboto", sans-serif;
    text-align: left;
  }
  .main-section .banner-wrapper .banner-text .banner-title {
    width: 344px;
    color: #ffffff;
    font-family: "Catamaran", sans-serif;
    font-size: 32px;
    line-height: 42px;
    margin-top: 2px;
    text-align: left;
  }
  .main-section .banner-wrapper .banner-text .banner-subtitle {
    margin-top: 21px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
    text-align: left;
    max-width: 335px;
  }
  .main-section .banner-wrapper .banner-text .shopify-plus-image {
    margin-top: 79px;
    padding-bottom: 0px;
  }
  .main-section .banner-wrapper .banner-text .shopify-plus-image img {
    width: 102px;
    height: 22px;
  }
  .main-section .banner-wrapper .banner-image {
    margin-top: 0px;
    max-width: 376px;
    height: 382px;
  }
  .main-section .banner-wrapper .banner-image img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .main-section {
    background-color: black;
  }
  .main-section header {
    padding-top: 52px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .main-section header .company {
    display: flex;
  }
  .main-section header .company img {
    width: 239px;
    height: 58px;
  }
  .main-section header .menu {
    display: flex;
  }
  .main-section header .menu__list {
    padding-left: 58px;
    padding-top: 17px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
  }
  .main-section header .menu .plus-sign {
    color: #D19900;
  }
  .main-section header .menu .work-with-us {
    background: #ED4E08 0% 0% no-repeat padding-box;
    border-radius: 5px;
    margin-left: 52px;
    padding: 17px 47px;
  }
  .main-section header .hamburger-menu-image {
    display: none;
  }
  .main-section .banner-wrapper {
    margin-top: 109px;
    padding-bottom: 162px;
    position: relative;
    /* &::after {
        content: url('./assets/images/Arrow_Desktop_top.svg');
        position: absolute;
        top: 682px;
        left: 64px;
    } */
  }
  .main-section .banner-wrapper .banner-text {
    margin-top: 173px;
    display: block;
  }
  .main-section .banner-wrapper .banner-text .banner-label {
    font-size: 18px;
    line-height: 28px;
    color: #ED4E08;
    font-family: "Roboto", sans-serif;
    text-align: left;
  }
  .main-section .banner-wrapper .banner-text .banner-title {
    width: 559px;
    color: #ffffff;
    font-family: "Catamaran", sans-serif;
    font-size: 52px;
    line-height: 62px;
    margin-top: 2px;
    text-align: left;
  }
  .main-section .banner-wrapper .banner-text .banner-subtitle {
    margin-top: 32px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
    text-align: left;
    max-width: 401px;
  }
  .main-section .banner-wrapper .banner-text .shopify-plus-image {
    margin-top: 142px;
    padding-bottom: 0px;
  }
  .main-section .banner-wrapper .banner-text .shopify-plus-image img {
    width: 147px;
    height: 32px;
  }
  .main-section .banner-wrapper .banner-image {
    margin-top: 0px;
    max-width: 579px;
    height: 576px;
  }
  .main-section .banner-wrapper .banner-image img {
    width: 100%;
  }
}

.case-studies-section {
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
}
.case-studies-section .case-studies-wrapper {
  margin-top: 51px;
}
.case-studies-section .case-studies-wrapper .case-studies-text .case-studies-label {
  color: #ed4e08;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.case-studies-section .case-studies-wrapper .case-studies-text .case-studies-title {
  margin-top: -20px;
  color: #15141b;
  font-family: "Catamaran", sans-serif;
  font-size: 24px;
  line-height: 62px;
  text-align: center;
}
.case-studies-section .case-studies-wrapper .case-studies-text .case-studies-subtitle {
  margin-top: -10px;
  color: #15141b;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
.case-studies-section .case-studies-wrapper .case-studies-text .case-studies-view-all {
  position: absolute;
  top: 536px;
  left: 40%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
}
.case-studies-section .case-studies-wrapper .case-studies-text .case-studies-view-all .arrow-image {
  margin-left: 6px;
}
.case-studies-section .case-studies-wrapper .case-studies-carousel {
  margin-top: 30px;
  padding-bottom: 136px;
  display: block;
}
.case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card .card-carousel-image {
  position: relative;
  margin-top: 10px;
  max-width: 282px;
  height: 375px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
.case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card .card-carousel-image img {
  width: 100%;
  height: 100%;
}
.case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card .card-carousel-title {
  position: absolute;
  top: 281px;
  margin-left: 68px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 20px;
  font-family: "Catamaran", sans-serif;
}
.case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card .card-carousel-subtitle {
  position: absolute;
  top: 310px;
  max-width: 203px;
  margin-left: 68px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 18px;
}
.case-studies-section .background-gray {
  position: relative;
  background-color: #f8f8f8;
}
.case-studies-section .background-gray .office-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case-studies-section .background-gray .office-wrapper .shoptrade-office-image {
  max-width: 379px;
  max-height: 233px;
  overflow: hidden;
  order: 2;
}
.case-studies-section .background-gray .office-wrapper .shoptrade-office-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.case-studies-section .background-gray .office-wrapper .shoptrade-office-text-wrapper {
  position: absolute;
  top: -50px;
  order: 1;
}
.case-studies-section .background-gray .office-wrapper .shoptrade-office-text-wrapper .shoptrade-office-label {
  color: #ed4e08;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.case-studies-section .background-gray .office-wrapper .shoptrade-office-text-wrapper .shoptrade-office-title {
  max-width: 241px;
  color: #15141b;
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 62px;
  margin-top: -28px;
  text-align: center;
}
.case-studies-section .background-gray .shoptrade-detail-text {
  color: #15141b;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  max-width: 282px;
  text-align: center;
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 28px;
}
@media (min-width: 768px) {
  .case-studies-section {
    background-color: #ffffff;
  }
  .case-studies-section .case-studies-wrapper {
    margin-top: 80px;
    position: relative;
  }
  .case-studies-section .case-studies-wrapper .case-studies-text {
    max-width: 256px;
    margin: auto;
  }
  .case-studies-section .case-studies-wrapper .case-studies-text .case-studies-label {
    color: #ed4e08;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
  }
  .case-studies-section .case-studies-wrapper .case-studies-text .case-studies-title {
    color: #15141b;
    font-family: "Catamaran", sans-serif;
    font-size: 32px;
    line-height: 62px;
    text-align: center;
    padding-top: 3px;
  }
  .case-studies-section .case-studies-wrapper .case-studies-text .case-studies-subtitle {
    color: #15141b;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }
  .case-studies-section .case-studies-wrapper .case-studies-text .case-studies-view-all {
    position: absolute;
    top: 730px;
    left: 306px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 28px;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel {
    padding-bottom: 160px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card .card-carousel-image {
    position: relative;
    margin-top: 0px;
    max-width: 328px;
    height: 588px;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card .card-carousel-image img {
    width: 100%;
    height: auto;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card .card-carousel-title {
    position: absolute;
    top: 442px;
    margin-left: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card .card-carousel-subtitle {
    position: absolute;
    top: 467px;
    max-width: 241px;
    margin-left: 30px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }
  .case-studies-section .background-gray {
    position: relative;
    background-color: #f8f8f8;
  }
  .case-studies-section .background-gray .office-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .case-studies-section .background-gray .office-wrapper .shoptrade-office-image {
    max-width: 673px;
    max-height: 423px;
    order: 2;
  }
  .case-studies-section .background-gray .office-wrapper .shoptrade-office-image img {
    width: 100%;
    height: auto;
  }
  .case-studies-section .background-gray .office-wrapper .shoptrade-office-text-wrapper {
    order: 1;
    position: absolute;
    top: -80px;
    left: auto;
  }
  .case-studies-section .background-gray .office-wrapper .shoptrade-office-text-wrapper .shoptrade-office-label {
    color: #ed4e08;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
  }
  .case-studies-section .background-gray .office-wrapper .shoptrade-office-text-wrapper .shoptrade-office-title {
    max-width: 309px;
    color: #15141b;
    font-family: "Catamaran", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 62px;
    margin-top: -18px;
    margin-bottom: 20px;
    text-align: center;
  }
  .case-studies-section .background-gray .shoptrade-detail-text {
    color: #15141b;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    max-width: 584px;
    text-align: center;
    margin: 48px auto 0px auto;
    padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .case-studies-section {
    background-color: #ffffff;
  }
  .case-studies-section .case-studies-wrapper {
    margin-top: 83px;
    position: relative;
  }
  .case-studies-section .case-studies-wrapper .case-studies-text {
    margin-top: 295px;
    max-width: 311px;
  }
  .case-studies-section .case-studies-wrapper .case-studies-text .case-studies-label {
    color: #ed4e08;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  .case-studies-section .case-studies-wrapper .case-studies-text .case-studies-title {
    max-width: 203px;
    margin-top: 2px;
    color: #15141b;
    font-family: "Catamaran", sans-serif;
    font-size: 52px;
    line-height: 62px;
    text-align: left;
  }
  .case-studies-section .case-studies-wrapper .case-studies-text .case-studies-subtitle {
    margin-top: 23px;
    max-width: 309px;
    color: #15141b;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  .case-studies-section .case-studies-wrapper .case-studies-text .case-studies-view-all {
    margin-top: 76px;
    position: static;
  }
  .case-studies-section .case-studies-wrapper .case-studies-text .case-studies-view-all .arrow-image {
    margin-left: 21px;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel {
    padding-bottom: 267px;
    display: flex;
    justify-content: center;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel .slick-prev:before {
    content: url("./assets/images/st_leftarrow.svg");
    position: absolute;
    top: 280px;
    left: 800px;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel .slick-next:before {
    content: url("./assets/images/st_rightarrow.svg");
    position: absolute;
    top: 280px;
    left: -58px;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card {
    padding-right: 10px;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card .card-carousel-image {
    position: relative;
    margin-top: 0px;
    max-width: 444px;
    height: 762px;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card .card-carousel-image img {
    width: 100%;
    height: auto;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card .card-carousel-title {
    position: absolute;
    top: 610px;
    margin-left: 63px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
  }
  .case-studies-section .case-studies-wrapper .case-studies-carousel .carousel-card .card-carousel-subtitle {
    position: absolute;
    top: 659px;
    max-width: 305px;
    margin-left: 63px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
  }
  .case-studies-section .background-gray {
    background-color: #f8f8f8;
    height: 768px;
    position: relative;
  }
  .case-studies-section .background-gray .office-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -116px;
  }
  .case-studies-section .background-gray .office-wrapper .shoptrade-office-image {
    max-width: 1040px;
    max-height: 624px;
    order: 1;
  }
  .case-studies-section .background-gray .office-wrapper .shoptrade-office-image img {
    width: 100%;
    height: auto;
  }
  .case-studies-section .background-gray .office-wrapper .shoptrade-office-text-wrapper {
    order: 2;
    position: relative;
    top: 0;
    left: 0;
  }
  .case-studies-section .background-gray .office-wrapper .shoptrade-office-text-wrapper .shoptrade-office-label {
    color: #ed4e08;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 188px;
    text-align: left;
  }
  .case-studies-section .background-gray .office-wrapper .shoptrade-office-text-wrapper .shoptrade-office-title {
    max-width: 241px;
    color: #15141b;
    font-family: "Catamaran", sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
  }
  .case-studies-section .background-gray .shoptrade-detail-text {
    position: absolute;
    top: 588px;
    margin: 0px auto 0px 155px;
    color: #15141b;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 32px;
    max-width: 974px;
  }
}

.service-section {
  margin-top: 47px;
}
.service-section .service-text-wrapper {
  text-align: center;
}
.service-section .service-text-wrapper .service-label {
  color: #ed4e08;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}
.service-section .service-text-wrapper .service-title {
  font-family: "Catamaran", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}
.service-section .service-text-wrapper .service-subtitle {
  display: none;
}
.service-section .service-text-wrapper .service-learn-more {
  display: none;
}
.service-section .service-cards-wrapper {
  display: flex;
  background-image: url("./assets/images/st_backgroundimage.jpg");
  background-repeat: no-repeat;
  background-position: left 170px;
}
.service-section .service-cards-wrapper .first-set-cards {
  margin-top: 190px;
}
.service-section .service-cards-wrapper .first-set-cards .card-1 {
  margin-top: 20px;
  margin-right: 16px;
  width: 209px;
  height: 332px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 46px;
}
.service-section .service-cards-wrapper .first-set-cards .card-1 .card-1-text {
  max-width: 176px;
  color: #15141b;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
.service-section .service-cards-wrapper .first-set-cards .bottom-card {
  opacity: 0.7;
  box-shadow: none;
}
.service-section .service-cards-wrapper .first-set-cards .bottom-card-image {
  opacity: 0.05;
}
@media (min-width: 768px) {
  .service-section {
    margin-top: 50px;
  }
  .service-section .service-text-wrapper .service-label {
    color: #ed4e08;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
  }
  .service-section .service-text-wrapper .service-title {
    font-family: "Catamaran", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-right: 0px;
  }
  .service-section .service-text-wrapper .service-subtitle {
    display: none;
  }
  .service-section .service-text-wrapper .service-learn-more {
    display: none;
  }
  .service-section .service-cards-wrapper {
    display: flex;
    background-image: none;
  }
  .service-section .service-cards-wrapper .first-set-cards {
    margin-top: 0;
  }
  .service-section .service-cards-wrapper .first-set-cards .card-1 {
    margin-top: 20px;
    margin-right: 16px;
    width: 222px;
    height: 341px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 46px;
  }
  .service-section .service-cards-wrapper .first-set-cards .card-1 .card-1-text {
    max-width: 176px;
    color: #15141b;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
  }
  .service-section .service-cards-wrapper .first-set-cards .card-1 .card-1-image img {
    max-width: 44px;
    height: 41px;
  }
  .service-section .service-cards-wrapper .first-set-cards .bottom-card {
    /* opacity: 0.7;
    box-shadow: none; */
    display: none;
  }
  .service-section .service-cards-wrapper .first-set-cards .bottom-card-image {
    opacity: 0.05;
  }
  .service-section .service-cards-wrapper .second-set-cards {
    margin-top: 0px;
  }
  .service-section .service-cards-wrapper .second-set-cards .card-2 {
    margin-top: 20px;
    width: 222px;
    height: 341px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 46px;
  }
  .service-section .service-cards-wrapper .second-set-cards .card-2 .card-2-text {
    max-width: 176px;
    color: #15141b;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
  }
  .service-section .service-cards-wrapper .second-set-cards .card-2 .card-2-image img {
    max-width: 44px;
    height: 41px;
  }
  .service-section .service-cards-wrapper .second-set-cards .top-card {
    /* box-shadow: none;
    opacity: 0.4;
    height: 225px;
    justify-content: flex-end;
    padding-bottom: 40px; */
    display: none;
  }
}
@media (min-width: 1200px) {
  .service-section {
    margin-top: 0px;
  }
  .service-section .service-text-wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .service-section .service-text-wrapper .service-label {
    color: #ed4e08;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  .service-section .service-text-wrapper .service-title {
    max-width: 454px;
    font-family: "Catamaran", sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
  }
  .service-section .service-text-wrapper .service-subtitle {
    display: block;
    margin-top: 29px;
    max-width: 559px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  }
  .service-section .service-text-wrapper .service-learn-more {
    display: block;
    margin-top: 68px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  .service-section .service-cards-wrapper {
    display: flex;
    background-image: url("./assets/images/st_backgroundimage.jpg");
    background-repeat: no-repeat;
    background-position: left 170px;
  }
  .service-section .service-cards-wrapper .first-set-cards {
    margin-top: 190px;
  }
  .service-section .service-cards-wrapper .first-set-cards .card-1 {
    margin-top: 20px;
    margin-right: 16px;
    width: 329px;
    height: 315px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 46px;
  }
  .service-section .service-cards-wrapper .first-set-cards .card-1 .card-1-text {
    max-width: 176px;
    color: #15141b;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .service-section .service-cards-wrapper .first-set-cards .card-1 .card-1-image img {
    max-width: 69px;
    height: 64px;
  }
  .service-section .service-cards-wrapper .first-set-cards .bottom-card {
    opacity: 0.7;
    box-shadow: none;
  }
  .service-section .service-cards-wrapper .first-set-cards .bottom-card-image {
    opacity: 0.05;
  }
  .service-section .service-cards-wrapper .second-set-cards {
    margin-top: 0px;
  }
  .service-section .service-cards-wrapper .second-set-cards .card-2 {
    margin-top: 20px;
    width: 329px;
    height: 315px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 46px;
  }
  .service-section .service-cards-wrapper .second-set-cards .card-2 .card-2-text {
    max-width: 176px;
    color: #15141b;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .service-section .service-cards-wrapper .second-set-cards .card-2 .card-2-image img {
    max-width: 69px;
    height: 64px;
  }
  .service-section .service-cards-wrapper .second-set-cards .top-card {
    box-shadow: none;
    opacity: 0.4;
    height: 225px;
    justify-content: flex-end;
    padding-bottom: 40px;
  }
  .service-section .service-cards-wrapper .second-set-cards .top-card-text {
    opacity: 0;
  }
  .service-section .view-all-cards {
    display: none;
  }
}

.skeptics-speak-section {
  overflow: hidden;
}
.skeptics-speak-section .main-heading {
  text-align: center;
}
.skeptics-speak-section .main-heading .main-title {
  color: #15141b;
  font-family: "Catamaran", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}
.skeptics-speak-section .main-heading .main-subtitle {
  color: #15141b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-image-wrapper {
  margin-top: 22px;
}
.skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-image-wrapper .skeptics-speak-image {
  max-width: 263px;
  height: 335px;
  position: relative;
  overflow: hidden;
  margin: 0px auto;
}
.skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-image-wrapper .skeptics-speak-image .main-image {
  width: 100%;
  height: 100%;
}
.skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-image-wrapper .skeptics-speak-image .play-button-image {
  position: absolute;
  top: 268px;
  left: 195px;
  max-width: 45px;
  max-height: 45px;
}
.skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-text-wrapper .skeptics-speak-name-designation-wrapper {
  position: absolute;
  top: -72px;
  left: 22px;
  z-index: 1;
}
.skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-text-wrapper .skeptics-speak-name-designation-wrapper .skeptics-speak-name {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-text-wrapper .skeptics-speak-name-designation-wrapper .skeptics-speak-designation {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 19px;
}
.skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-text-wrapper .skeptics-speak-comment {
  text-align: center;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.skeptics-speak-section .stats-area {
  background-color: #f8f8f8;
  padding-top: 220px;
  padding-bottom: 33px;
  margin-top: -200px;
  z-index: -1;
}
.skeptics-speak-section .stats-area .stats-card {
  max-width: 136px;
  height: 128px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  margin-bottom: 10px;
  margin-left: 6px;
}
.skeptics-speak-section .stats-area .stats-card .stats {
  margin: 0 auto;
}
.skeptics-speak-section .stats-area .stats-card .stats .stats-figures {
  color: #ed4e08;
  font-size: 32px;
  font-weight: 700;
  line-height: 33px;
  position: relative;
}
.skeptics-speak-section .stats-area .stats-card .stats .stats-figures::after {
  content: "";
  position: absolute;
  border: 1px solid #9f9f9f;
  top: 45px;
  left: 0;
  width: 18px;
  height: 1px;
}
.skeptics-speak-section .stats-area .stats-card .stats .stats-text {
  padding-top: 25px;
  color: #625c5c;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  max-width: 106px;
}
@media (min-width: 768px) {
  .skeptics-speak-section .main-heading {
    text-align: center;
  }
  .skeptics-speak-section .main-heading .main-title {
    color: #15141b;
    font-family: "Catamaran", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 26px;
  }
  .skeptics-speak-section .main-heading .main-subtitle {
    color: #15141b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-image .main-image {
    max-width: 223px;
    height: 324px;
    position: relative;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-image .play-button-image {
    position: absolute;
    top: 268px;
    left: 195px;
    max-width: 45px;
    max-height: 45px;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-text-wrapper .skeptics-speak-name-designation-wrapper {
    position: absolute;
    top: -72px;
    left: 22px;
    z-index: 1;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-text-wrapper .skeptics-speak-name-designation-wrapper .skeptics-speak-name {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-text-wrapper .skeptics-speak-name-designation-wrapper .skeptics-speak-designation {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    line-height: 19px;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-text-wrapper .skeptics-speak-comment {
    text-align: center;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
  .skeptics-speak-section .stats-area {
    background-color: #f8f8f8;
    padding-top: 220px;
    padding-bottom: 60px;
    margin-top: -200px;
    z-index: -1;
  }
  .skeptics-speak-section .stats-area .stats-card {
    max-width: 164px;
    height: 158px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 29px;
  }
  .skeptics-speak-section .stats-area .stats-card .stats {
    margin: 0 auto;
  }
  .skeptics-speak-section .stats-area .stats-card .stats .stats-figures {
    color: #ed4e08;
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    position: relative;
  }
  .skeptics-speak-section .stats-area .stats-card .stats .stats-figures::after {
    content: "";
    position: absolute;
    border: 1px solid #9f9f9f;
    top: 46px;
    left: 0;
    width: 20px;
    height: 1px;
  }
  .skeptics-speak-section .stats-area .stats-card .stats .stats-text {
    color: #625c5c;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    max-width: 127px;
    padding-top: 24px;
  }
}
@media (min-width: 1200px) {
  .skeptics-speak-section {
    position: relative;
  }
  .skeptics-speak-section .main-heading {
    text-align: center;
  }
  .skeptics-speak-section .main-heading .main-title {
    color: #15141b;
    font-family: "Catamaran", sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
  }
  .skeptics-speak-section .main-heading .main-subtitle {
    color: #15141b;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }
  .skeptics-speak-section .skeptics-speak-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 52px;
    padding-bottom: 255px;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-text-wrapper .skeptics-speak-comment {
    color: #15141b;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-text-wrapper .skeptics-speak-name-designation-wrapper {
    color: #15141b;
    width: 149px;
    height: 45px;
    margin-top: 33px;
    position: relative;
    top: 0;
    left: 0;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-text-wrapper .skeptics-speak-name-designation-wrapper .skeptics-speak-name {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-text-wrapper .skeptics-speak-name-designation-wrapper .skeptics-speak-designation {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-image-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-image-wrapper .slick-prev:before {
    content: url("./assets/images/st_leftarrow.svg");
    position: absolute;
    top: 0;
    left: 0;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-image-wrapper .slick-next:before {
    content: url("./assets/images/st_rightarrow.svg");
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-image-wrapper .main-image {
    max-width: 329px;
    height: 460px;
    position: relative;
    margin-left: 15px;
  }
  .skeptics-speak-section .skeptics-speak-wrapper .skeptics-speak-image-wrapper .play-button-image {
    position: absolute;
    top: 385px;
    left: 270px;
    max-width: 75px;
    height: 75px;
  }
  .skeptics-speak-section .stats-area {
    background-color: #f8f8f8;
    padding-top: 255px;
    padding-bottom: 60px;
    margin-top: -328px;
  }
  .skeptics-speak-section .stats-area .stats-card {
    max-width: 326px;
    height: 306px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    align-items: center; */
    padding-top: 62px;
    margin: 0;
  }
  .skeptics-speak-section .stats-area .stats-card .stats {
    margin: 0 auto;
  }
  .skeptics-speak-section .stats-area .stats-card .stats .stats-figures {
    color: #ed4e08;
    font-size: 69px;
    font-weight: 400;
    line-height: 78px;
    position: relative;
  }
  .skeptics-speak-section .stats-area .stats-card .stats .stats-figures::after {
    content: "";
    border: 1px solid #9f9f9f;
    position: absolute;
    left: 0;
    width: 42px;
    height: 2px;
    top: 103px;
  }
  .skeptics-speak-section .stats-area .stats-card .stats .stats-text {
    padding-top: 55px;
    color: #625c5c;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    max-width: 190px;
  }
}

.shopify-coo-section .coo-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.shopify-coo-section .coo-wrapper .coo-text-wrapper {
  order: 2;
  margin-top: 27px;
}
.shopify-coo-section .coo-wrapper .coo-text-wrapper .coo-label {
  max-width: 282px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.shopify-coo-section .coo-wrapper .coo-text-wrapper .coo-title {
  margin-top: 20px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.shopify-coo-section .coo-wrapper .coo-text-wrapper .coo-subtitle {
  color: #9f9f9f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.shopify-coo-section .coo-wrapper .coo-image-wrapper {
  order: 1;
  position: relative;
  top: 0;
  bottom: 0;
  margin-top: 65px;
}
.shopify-coo-section .coo-wrapper .coo-image-wrapper .coo-image {
  position: relative;
  max-width: 226px;
  height: 282px;
}
.shopify-coo-section .coo-wrapper .coo-image-wrapper .coo-image img {
  width: 100%;
}
.shopify-coo-section .coo-wrapper .coo-image-wrapper .orange-image {
  position: absolute;
  top: -21px;
  right: -19px;
}
.shopify-coo-section .coo-wrapper .coo-image-wrapper .orange-image img {
  max-width: 226px;
  height: 282px;
}
.shopify-coo-section .coo-subarea {
  margin-top: 23px;
  margin-bottom: 128px;
  background-color: #f8f8f8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopify-coo-section .coo-subarea .subarea-wrapper {
  margin-top: 37px;
  margin-bottom: 43px;
}
.shopify-coo-section .coo-subarea .subarea-wrapper .subarea-subtitle {
  color: #ed4e08;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.shopify-coo-section .coo-subarea .subarea-wrapper .subarea-title {
  color: #000000;
  font-family: "Catamaran", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  max-width: 214px;
  text-align: center;
}
.shopify-coo-section .coo-subarea .subarea-wrapper .subarea-work-with-us {
  background: #ED4E08;
  border-radius: 5px;
  margin-top: 21px;
  margin-right: auto;
  margin-left: auto;
  padding: 13px 41px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  max-width: 156px;
  line-height: 21px;
  text-align: center;
}
@media (min-width: 768px) {
  .shopify-coo-section .coo-wrapper {
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  .shopify-coo-section .coo-wrapper .coo-text-wrapper {
    margin-left: 0px;
    margin-top: 0px;
    order: 1;
  }
  .shopify-coo-section .coo-wrapper .coo-text-wrapper .coo-label {
    max-width: 404px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .shopify-coo-section .coo-wrapper .coo-text-wrapper .coo-title {
    margin-top: 36px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
  }
  .shopify-coo-section .coo-wrapper .coo-text-wrapper .coo-subtitle {
    margin-top: 10px;
    color: #9f9f9f;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  .shopify-coo-section .coo-wrapper .coo-image-wrapper {
    order: 2;
    position: relative;
    top: 0;
    bottom: 0;
  }
  .shopify-coo-section .coo-wrapper .coo-image-wrapper .coo-image {
    position: relative;
    max-width: 207px;
    height: 259px;
  }
  .shopify-coo-section .coo-wrapper .coo-image-wrapper .coo-image img {
    width: 100%;
  }
  .shopify-coo-section .coo-wrapper .coo-image-wrapper .orange-image {
    position: absolute;
    top: -19px;
    right: -17px;
  }
  .shopify-coo-section .coo-wrapper .coo-image-wrapper .orange-image img {
    max-width: 207px;
    height: 259px;
  }
  .shopify-coo-section .coo-subarea {
    margin-top: 114px;
    margin-bottom: 128px;
    background-color: #f8f8f8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .shopify-coo-section .coo-subarea .subarea-wrapper {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  .shopify-coo-section .coo-subarea .subarea-wrapper .subarea-subtitle {
    color: #ed4e08;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
  }
  .shopify-coo-section .coo-subarea .subarea-wrapper .subarea-title {
    margin-top: 10px;
    color: #000000;
    font-family: "Catamaran", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 31px;
    max-width: 482px;
  }
  .shopify-coo-section .coo-subarea .subarea-wrapper .subarea-work-with-us {
    background: #ED4E08;
    border-radius: 5px;
    padding: 18px 47px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 13px;
  }
}
@media (min-width: 1200px) {
  .shopify-coo-section .coo-wrapper {
    margin-top: 125px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  .shopify-coo-section .coo-wrapper .coo-text-wrapper {
    margin-left: 115px;
    margin-top: 0px;
    order: 1;
  }
  .shopify-coo-section .coo-wrapper .coo-text-wrapper .coo-label {
    max-width: 674px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  }
  .shopify-coo-section .coo-wrapper .coo-text-wrapper .coo-title {
    margin-top: 36px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
  }
  .shopify-coo-section .coo-wrapper .coo-text-wrapper .coo-subtitle {
    margin-top: 10px;
    color: #9f9f9f;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  .shopify-coo-section .coo-wrapper .coo-image-wrapper {
    order: 2;
    position: relative;
    top: 0;
    bottom: 0;
  }
  .shopify-coo-section .coo-wrapper .coo-image-wrapper .coo-image {
    position: relative;
    max-width: 304px;
    height: 379px;
  }
  .shopify-coo-section .coo-wrapper .coo-image-wrapper .coo-image img {
    width: 100%;
  }
  .shopify-coo-section .coo-wrapper .coo-image-wrapper .orange-image {
    position: absolute;
    top: -28px;
    right: -28px;
  }
  .shopify-coo-section .coo-wrapper .coo-image-wrapper .orange-image img {
    max-width: 304px;
    height: 379px;
  }
  .shopify-coo-section .coo-subarea {
    margin-top: 114px;
    margin-bottom: 128px;
    background-color: #f8f8f8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .shopify-coo-section .coo-subarea .subarea-wrapper {
    margin-top: 65px;
    margin-bottom: 65px;
  }
  .shopify-coo-section .coo-subarea .subarea-wrapper .subarea-subtitle {
    color: #ed4e08;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
  .shopify-coo-section .coo-subarea .subarea-wrapper .subarea-title {
    color: #000000;
    font-family: "Catamaran", sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    max-width: 696px;
  }
  .shopify-coo-section .coo-subarea .subarea-wrapper .subarea-work-with-us {
    background: #ED4E08;
    border-radius: 5px;
    padding: 18px 47px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
  }
}

.final-section footer {
  background-color: #000000;
  position: relative;
}
.final-section footer .footer-wrapper {
  position: absolute;
  top: -15px;
  max-width: 63px;
  height: 65px;
}
.final-section footer .footer-wrapper img {
  width: 100%;
}
.final-section footer .footer-area {
  padding-top: 82px;
}
.final-section footer .footer-area .header-title {
  margin-top: 40px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.final-section footer .footer-area .newsletter-label {
  max-width: 223px;
}
.final-section footer .footer-area .header-collection {
  margin-top: 13px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 50;
  line-height: 28px;
  padding-bottom: 51px;
}
.final-section footer .footer-area .header-collection p {
  margin: 0px;
}
.final-section footer .footer-area .newsletter {
  border-radius: 5px;
  background-color: #2e2e2e;
  padding: 17px 24px;
  text-align: left;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  color: #a698ff;
}
.final-section footer .footer-area .newsletter img {
  margin-left: 20px;
}
.final-section footer .base-footer-wrapper {
  margin-top: 23px;
}
.final-section footer .base-footer-wrapper .copyrights {
  opacity: 0.5;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}
.final-section footer .base-footer-wrapper .base-shopify-images .footer-shopify-1 {
  max-width: 73px;
  height: 15px;
  position: absolute;
  left: 220px;
  top: -1525px;
}
.final-section footer .base-footer-wrapper .base-shopify-images .footer-shopify-2 {
  display: none;
}
@media (min-width: 768px) {
  .final-section footer {
    background-color: #000000;
    position: relative;
  }
  .final-section footer .footer-wrapper {
    position: absolute;
    top: -33px;
  }
  .final-section footer .footer-wrapper img {
    max-width: 104px;
    height: 104px;
  }
  .final-section footer .footer-area {
    padding-top: 123px;
  }
  .final-section footer .footer-area .header-title {
    margin-top: 40px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
  .final-section footer .footer-area .newsletter-label {
    max-width: 223px;
  }
  .final-section footer .footer-area .header-collection {
    margin-top: 13px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 50;
    line-height: 28px;
  }
  .final-section footer .footer-area .header-collection p {
    margin: 0px;
  }
  .final-section footer .footer-area .newsletter {
    border-radius: 5px;
    background-color: #2e2e2e;
    padding: 17px 24px;
    text-align: left;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 28px;
    color: #a698ff;
  }
  .final-section footer .footer-area .newsletter img {
    margin-left: 90px;
  }
  .final-section footer .base-footer-wrapper {
    margin-top: 2px;
  }
  .final-section footer .base-footer-wrapper .copyrights {
    position: absolute;
    top: -50px;
    opacity: 0.5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
  }
  .final-section footer .base-footer-wrapper .base-shopify-images {
    position: relative;
  }
  .final-section footer .base-footer-wrapper .base-shopify-images .footer-shopify-1 {
    max-width: 73px;
    height: 15px;
    position: absolute;
    left: 495px;
    top: -690px;
  }
  .final-section footer .base-footer-wrapper .base-shopify-images .footer-shopify-2 {
    max-width: 100px;
    height: 21px;
    display: none;
  }
}
@media (min-width: 1200px) {
  .final-section footer {
    background-color: #000000;
    position: relative;
  }
  .final-section footer .footer-wrapper {
    position: absolute;
    top: -32px;
    margin-left: 0px;
  }
  .final-section footer .footer-wrapper img {
    max-width: 99px;
    height: 99px;
  }
  .final-section footer .footer-area {
    padding-top: 150px;
    margin-left: 0px;
  }
  .final-section footer .footer-area .header-title {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
  .final-section footer .footer-area .header-collection {
    margin-top: 13px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 50;
    line-height: 28px;
  }
  .final-section footer .footer-area .header-collection p {
    margin: 0px;
  }
  .final-section footer .footer-area .newsletter {
    border-radius: 5px;
    background-color: #2e2e2e;
    padding: 17px 24px;
    text-align: left;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 28px;
    color: #a698ff;
  }
  .final-section footer .footer-area .newsletter img {
    margin-left: 57px;
  }
  .final-section footer .base-footer-wrapper {
    margin-top: 89px;
    padding-bottom: 64px;
  }
  .final-section footer .base-footer-wrapper .copyrights {
    position: relative;
    top: 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-left: 0px;
  }
  .final-section footer .base-footer-wrapper .base-shopify-images {
    position: relative;
  }
  .final-section footer .base-footer-wrapper .base-shopify-images .footer-shopify-1 {
    max-width: 100px;
    height: 21px;
    left: 0;
    top: 0;
  }
  .final-section footer .base-footer-wrapper .base-shopify-images .footer-shopify-2 {
    max-width: 100px;
    height: 21px;
    display: block;
    margin-left: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
